*,
*::after,
*::before
{
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#map-element
{
    flex: 1 1 auto;
}

#side-menu
{
    background-color: #d3d3d3;
    border-left: 1px solid #000;
    flex: 0 1 300px;
    padding: 5px;
}

#side-menu h1
{
    border-bottom: 1px solid #fff;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    text-align: center;
}